$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;


#imgContacto {
    width: $anchoMax;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;

    p {
        font-family: map-get($fonts, "light");
        font-size: 18px;
    }

    label {
        font-family: map-get($fonts, "medium");
        margin: 2% 0%;
    }
    
    input {
        font-family: map-get($fonts, "light");
        border-radius: 25px;
        padding: 2%;
        color: darkgrey;
        border: 1px solid;
    }

    textarea {
        font-family: map-get($fonts, "light");
        color: #706D6D;
        border: 1px solid;
        border-radius: 20px;
        padding: 2%;
    }

    #enviar {
        background-color: map-get($colores, "fucsia");
        color: map-get($colores, "blanco");
        width: 50%;
        margin: 2% 25%;
    }
    
    #enviar:hover {
        background-color: map-get($colores, "verde");
    }


}



