$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;


.cont__logo {
    width: 100px;
    position: absolute;
    top: 0;
    right: 3%;

    a &-pag {
        background-color: map-get($colores, "lila");
        width: 100%;
        animation-name: logo-color;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
    } 
}

#ilust-dw {
    width: $anchoMax;
}

h2 {
    @include titulos();
}

.subtitulosDesarrolloDisenio {
    font-family: map-get($fonts, "gorditas");
    color: map-get($colores, "lila");
    font-size: 26px;
    text-align: center;
}

.textosDesarrolloDisenio {
    font-family: map-get($fonts, "elight");
    text-align: center;
    
}


.desarrollo__button {
    @extend .button;
    background-color: map-get($colores, "verde");
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 90%;

    a {
        text-decoration: none;
        text-align: center;
        font-family: map-get($fonts, "regular");
        color: map-get($colores, "blanco");
    }
}

.desarrollo__button:hover {
    width: $anchoMax;
}

.imgsProyectosDW {
    width: $anchoMax;
}


