$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;


#ilustDisenio {
    width: $anchoMax;
}

h2 {
    @include titulos();
}

div {

    .disenio__subtitulos {
        font-family: map-get($fonts, "gorditas");
        color: map-get($colores, "lila");
        font-size: 26px;
        text-align: center;
    }

    .disenio__textos-proyectos {
        font-family: map-get($fonts, "elight");
        font-size: 16px;
        text-align: center;
        margin: 10px 0px;
    }

    .textosDesarrolloDisenio {
        font-family: map-get($fonts, "elight");
        text-align: center;
        
    }

    .disenio__imgs-proyectos {
        width: $anchoMax;
        transition: opacity 1s;
    }

    .disenio__aclaraciones {
            font-family: map-get($fonts, "e-light");
            font-size: 12px;
            text-align: center;
        
    }

    .disenio__button-proyecto {
        @extend .button;
        background-color: map-get($colores, "verde");
        border-radius: 25px;
        padding: 10px 20px;
        margin-top: 20px;
        width: 80%;
        

            a {
                @extend .button-a
            }
    }
    
    

}

.disenio__button-proyecto:hover {
    width: $anchoMax;
}


.disenio__imgs-proyectos:hover {
    opacity: 0.5;
}

#imgProyectoDestacado {
    width: $anchoMax;
    margin: 2%;

}

#imgProyectoDestacado:hover {
    opacity: 0.8;
}


#tituloDestacadoDG {
    font-family: map-get($fonts, "gorditas");
    color: map-get($colores, "lila");
    font-size: 34px;
    margin: 1% 20%;
    text-align: center;
}

#textoDestacado {
    font-family: map-get($fonts, "elight");
    font-size: 20px;
    margin: 2% 20%;
    text-align: center;
}

#buttonDestacado {
    @extend .button; 
    background-color: map-get($colores, "fucsia");
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 1%;
    width: 70%;
    

    a {
        @extend .button-a; 
    }
}

#buttonDestacado:hover {
    width: $anchoMax;
}


#disenio__button {
    @extend .button; 
    background-color: map-get($colores, "verde");
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 70%;
    
    
        a {
            @extend .button-a;
        }
}

#disenio__button:hover {
    width: 80%;
}
