$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;



.footer__pages {
    background-color: #E5E5E5;

    &-preg {        
            font-family: map-get($fonts, "light");
            font-size: 1.5em;
            
    }

    &-button {
        background-color: map-get($colores, "fucsia");
        text-decoration: none;
        border-radius: 25px;
        padding: 10px 20px;
        border: 0;
        margin-bottom: 2%; 

            a {
                text-decoration: none;
                color: #FFFFFF;
                font-family: map-get($fonts, "regular");

                
            }
            
    }

    
}

.footer__pages-button:hover {
    background-color: map-get($colores, "verde");
}

.icon-pag {
    width: 40%;
}


.derechos__contenedor {
    background-color: #706D6D;

    &-copy {
    font-family: map-get($fonts, "light");
    font-size: 12px;
    background-color: #706D6D ;
    color: map-get($colores, "blanco");
    text-align: center;
    }
}




