$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;


#buttonIndex:hover {
    width: $anchoMax;
}

#buttonIndex {

    background-color: map-get($colores , "fucsia");
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    border: 0;
    margin-bottom: 30px;
    width: 80%;

        a {
            text-decoration: none;
            color: map-get($colores, "blanco" );
            font-family: map-get($fonts, "gorditas");
        }            
}

#bodyIndex {
    background-color: map-get($colores, "lila");;
    padding: 3% 3% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ilustPersonal {
    width: $anchoMax;
    margin-top: 1em;
}

h1 {
    font-family: map-get($fonts, "gorditas");
    color: map-get($colores, "fucsia");;
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#descripcionIndex {
    font-family: map-get($fonts, "regular");
    font-size: 1.2em;
    padding: 1.5%;
    text-align: center;
}

.fondo__foot {
    background-color: map-get($colores, "lila");;
    height: 3%;

        div a &-img {
                width: 50%;
                margin-top: 1em;
                margin-bottom: 1em;    
        }
}