$colores: ("lila": #C6B5F8, "fucsia": #F677A3, "verde": #74D3C5, "blanco": #FFFFFF, "violeta": #7E5D93);

$fonts: ("elight": Poppins-Extralight, "light": Poppins-Light, "regular": Poppins-Regular, "medium": Poppins-Medium, "medium-italic": Poppins-MediumItalic, "bold": Poppins-Bold, "black": Poppins-Black, "gorditas": Gorditas-Regular);

$anchoMax: 100%;

@mixin titulos {
    font-family: map-get($fonts , gorditas );
    font-size: 40px;
    color: map-get($colores , "lila" );
    text-align: left;
}


.bodyPages {
    margin: 0;
    padding: 0;
    width: $anchoMax;
    max-width: $anchoMax;
}

.nav-pages {
    background-color: map-get($colores, "lila");
    
}

.cont__logo {
    width: 100px;
    position: absolute;
    top: 0;
    right: 3%;

    a &-pag {
        background-color: map-get($colores, "lila");
        width: $anchoMax;
        animation-name: logo-color;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
    } 
}

.ilust-quien {
    width: $anchoMax;
}

h2 {
    @include titulos;        
}

.textosQuienSoy {
    font-family: map-get($colores, "elight");
    font-size: 17px;
    margin: 2% 0 10%;
    text-align: left;
        
    
    }

#finalQuienSoy {
    font-family: map-get($fonts, "medium");
    color: map-get($colores, "lila");
    font-size: 20px;
}

.quienSoy__recuadro {
    /* background-color: #F677A3; */
    background-image: linear-gradient(to right ,map-get($colores, "verde"), map-get($colores, "lila"), map-get($colores, "fucsia") );
    background-repeat: repeat;
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    animation-name: gradient;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    
    .quienSoy__subtitulo {
        font-family: map-get($fonts, "bold");
        color: map-get($colores, "blanco");
        margin: 0%;

        &-anio {
            font-family: map-get($fonts, "medium-italic");
        }
    }

    
}

@keyframes gradient {
    0% { background-position: 0 0 ;}
    50% { background-position: -80rem 0}
    100% { background-position: 0 0 ;}
    
}

.textosQuienSoy {
    font-family: map-get($fonts, "elight");
    font-size: 17px;
    margin: 2% 0 10%;
    text-align: left;
}

