#buttonIndex:hover {
  width: 100%;
}

#buttonIndex {
  background-color: #F677A3;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  border: 0;
  margin-bottom: 30px;
  width: 80%;
}

#buttonIndex a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Poppins-Regular;
}

#bodyIndex {
  background-color: #C6B5F8;
  padding: 3% 3% 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ilustPersonal {
  width: 100%;
  margin-top: 1em;
}

h1 {
  font-family: Gorditas-Regular;
  color: #F677A3;
  text-align: center;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

#descripcionIndex {
  font-family: Poppins-Regular;
  font-size: 1.2em;
  padding: 1.5%;
  text-align: center;
}

.fondo__foot {
  background-color: #C6B5F8;
  height: 3%;
}

div a .fondo__foot-img {
  width: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.bodyPages {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.nav-pages {
  background-color: #C6B5F8;
}

.cont__logo {
  width: 100px;
  position: absolute;
  top: 0;
  right: 3%;
}

a .cont__logo-pag {
  background-color: #C6B5F8;
  width: 100%;
  -webkit-animation-name: logo-color;
          animation-name: logo-color;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.ilust-quien {
  width: 100%;
}

h2 {
  font-family: Gorditas-Regular;
  font-size: 40px;
  color: #C6B5F8;
  text-align: left;
}

.textosQuienSoy {
  font-family: Poppins-ExtraLight;
  font-size: 17px;
  margin: 2% 0 10%;
  text-align: left;
}

#finalQuienSoy {
  font-family: Poppins-Medium;
  color: #C6B5F8;
  font-size: 20px;
}

.quienSoy__recuadro {
  /* background-color: #F677A3; */
  background-image: -webkit-gradient(linear, left top, right top, from(#74D3C5), color-stop(#C6B5F8), to(#F677A3));
  background-image: linear-gradient(to right, #74D3C5, #C6B5F8, #F677A3);
  background-repeat: repeat;
  padding: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.quienSoy__recuadro .quienSoy__subtitulo {
  font-family: Poppins-Bold;
  color: #FFFFFF;
  margin: 0%;
}

.quienSoy__recuadro .quienSoy__subtitulo-anio {
  font-family: Poppins-MediumItalic;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

.textosQuienSoy {
  font-family: Poppins-ExtraLight;
  font-size: 17px;
  margin: 2% 0 10%;
  text-align: left;
}

.footer__pages {
  background-color: #E5E5E5;
}

.footer__pages-preg {
  font-family: Poppins-Light;
  font-size: 1.5em;
}

.footer__pages-button {
  background-color: #F677A3;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  border: 0;
  margin-bottom: 2%;
}

.footer__pages-button a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Poppins-Regular;
}

.footer__pages-button:hover {
  background-color: #74D3C5;
}

.icon-pag {
  width: 50%;
}

.derechos__contenedor {
  background-color: #706D6D;
}

.derechos__contenedor-copy {
  font-family: Poppins-Light;
  font-size: 12px;
  background-color: #706D6D;
  color: #FFFFFF;
  text-align: center;
}

.cont__logo {
  width: 100px;
  position: absolute;
  top: 0;
  right: 3%;
}

a .cont__logo-pag {
  background-color: #C6B5F8;
  width: 100%;
  -webkit-animation-name: logo-color;
          animation-name: logo-color;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#ilust-dw {
  width: 100%;
}

h2 {
  font-family: Gorditas-Regular;
  font-size: 40px;
  color: #C6B5F8;
  text-align: left;
}

.subtitulosDesarrolloDisenio {
  font-family: Gorditas-Regular;
  color: #C6B5F8;
  font-size: 26px;
  text-align: center;
}

.textosDesarrolloDisenio {
  font-family: Poppins-ExtraLight;
  text-align: center;
}

.desarrollo__button {
  background-color: #74D3C5;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  width: 90%;
}

.desarrollo__button a {
  text-decoration: none;
  text-align: center;
  font-family: Poppins-Regular;
  color: #FFFFFF;
}

.desarrollo__button:hover {
  width: 100%;
}

.imgsProyectosDW {
  width: 100%;
}

#ilustDisenio {
  width: 100%;
}

h2 {
  font-family: Gorditas-Regular;
  font-size: 40px;
  color: #C6B5F8;
  text-align: left;
}

div .disenio__subtitulos {
  font-family: Gorditas-Regular;
  color: #C6B5F8;
  font-size: 26px;
  text-align: center;
}

div .disenio__textos-proyectos {
  font-family: Poppins-ExtraLight;
  font-size: 16px;
  text-align: center;
  margin: 10px 0px;
}

div .textosDesarrolloDisenio {
  font-family: Poppins-ExtraLight;
  text-align: center;
}

div .disenio__imgs-proyectos {
  width: 100%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

div .disenio__aclaraciones {
  font-family: Poppins-ExtraLight;
  font-size: 12px;
  text-align: center;
}

div .disenio__button-proyecto {
  background-color: #74D3C5;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  width: 90%;
}

div .disenio__button-proyecto a {
  text-decoration: none;
  text-align: center;
  font-family: Poppins-Regular;
  color: #FFFFFF;
}

div .disenio_button-proyecto:hover {
  width: 100%;
}

.disenio__imgs-proyectos:hover {
  opacity: 0.5;
}

#imgProyectoDestacado {
  width: 100%;
  margin: 2%;
}

#imgProyectoDestacado:hover {
  opacity: 0.8;
}

#tituloDestacadoDG {
  font-family: Gorditas-Regular;
  color: #C6B5F8;
  font-size: 34px;
  margin: 1% 20%;
  text-align: center;
}

#textoDestacado {
  font-family: Poppins-ExtraLight;
  font-size: 20px;
  margin: 2% 20%;
  text-align: center;
}

#buttonDestacado {
  background-color: #F677A3;
  border-radius: 30px;
  padding: 15px 30px;
  border: 0;
  margin-top: 1%;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  width: 70%;
}

#buttonDestacado a {
  font-family: Poppins-Regular;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}

#buttonDestacado:hover {
  width: 100%;
}

#disenio__button {
  background-color: #74D3C5;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
  width: 70%;
}

#disenio__button a {
  text-decoration: none;
  text-align: center;
  font-family: Poppins-Regular;
  color: #FFFFFF;
}

#disenio__button:hover {
  width: 80%;
}

#imgContacto {
  width: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 80%;
}

form p {
  font-family: Poppins-Light;
  font-size: 18px;
}

form label {
  font-family: Poppins-Medium;
  margin: 2% 0%;
}

form input {
  font-family: Poppins-Light;
  border-radius: 25px;
  padding: 2%;
  color: darkgrey;
  border: 1px solid;
}

form textarea {
  font-family: Poppins-Light;
  color: #706D6D;
  border: 1px solid;
  border-radius: 20px;
  padding: 2%;
}

form #enviar {
  background-color: #F677A3;
  color: #FFFFFF;
  width: 50%;
  margin: 2% 25%;
}

form #enviar:hover {
  background-color: #74D3C5;
}

.logo {
  background-color: #C6B5F8;
  width: 80%;
  -webkit-animation-name: logo-color;
          animation-name: logo-color;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes logo-color {
  0% {
    background-color: #C6B5F8;
  }
  50% {
    background-color: #F677A3;
  }
  75% {
    background-color: #74D3C5;
  }
  100% {
    background-color: #C6B5F8;
  }
}

@keyframes logo-color {
  0% {
    background-color: #C6B5F8;
  }
  50% {
    background-color: #F677A3;
  }
  75% {
    background-color: #74D3C5;
  }
  100% {
    background-color: #C6B5F8;
  }
}

.container-fluid {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

/* clases de bootstrap  inicio */
.navbar {
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: #C6B5F8;
  font-family: Poppins-Regular;
  font-size: 1rem;
  margin: 0em 1rem;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #7E5D93;
  font-weight: bold;
}

.margin-row {
  margin-left: -15px;
}

.link-pages {
  color: #FFFFFF;
}

/* clases de bootstrap  fin */
/* Inicio - Tipografias */
@font-face {
  font-family: Poppins-Black;
  src: url(../Font/Poppins-Black.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../Font/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../Font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Gorditas-Regular;
  src: url(../Font/Gorditas-Regular.ttf);
}

@font-face {
  font-family: Poppins-ExtraLight;
  src: url(../Font/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: Poppins-MediumItalic;
  src: url(../Font/Poppins-MediumItalic.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../Font/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../Font/Poppins-Bold.ttf);
}

/* Fin - Tipografias */
/* Media responsive  */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }
  #descripcionIndex {
    font-size: 1em;
  }
  h2 {
    font-size: 2.2em;
  }
  .buttonDesarrolloDisenio {
    width: 95%;
  }
  .aButtonDesarrolloDisenio {
    font-size: 0.8em;
  }
  .quienSoy__subtitulo {
    font-size: 0.8em;
  }
  #tituloDestacadoDG {
    margin: 1%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 4em;
  }
  #descripcionIndex {
    font-size: 2em;
  }
  #buttonIndex a {
    font-size: 1.8em;
  }
  #buttonIndex {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.6em;
  }
}

.nav-pages {
  background-color: #C6B5F8;
}
/*# sourceMappingURL=style.css.map */