

/* ID de mi proyecto inicio */
#ilustPersonal {
    width: 100%;
    margin-top: 1em;
}

#nombreIndex {
    font-family: Gorditas-Regular;
    color: #F677A3;
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#descripcionIndex {
    font-family: Poppins-Regular;
    font-size: 1.2em;
    padding: 1.5%;
    text-align: center;
}

#buttonIndex {
    background-color: #F677A3;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    border: 0;
    margin-bottom: 30px;
    width: 80%;
}

#buttonIndex:hover {
    width: 100%;
}

#aButtonIndex {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins-Regular;
}

#bodyIndex {
    background-color: #C6B5F8;
    padding: 3% 3% 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#finalQuienSoy {
    font-family: Poppins-Medium;
    color: #C6B5F8;
    font-size: 20px;
}

#ilust-dw {
    width: 100%;
}

#imgProyectoDestacado {
    width: 100%;
    margin: 2%;

}

#imgProyectoDestacado:hover {
    opacity: 0.8;
}

#ilustDisenio {
    width: 100%;
}

#tituloDestacadoDG {
    font-family: Gorditas-Regular;
    color: #C6B5F8;
    font-size: 34px;
    margin: 1% 20%;
    text-align: center;
}

#textoDestacado {
    font-family: Poppins-ExtraLight;
    font-size: 20px;
    margin: 2% 20%;
    text-align: center;
}

#buttonDestacado {
    background-color: #F677A3;
    border-radius: 30px;
    padding: 15px 30px;
    border: 0;
    margin-top: 1%;
    box-shadow: 0 1em 2em rgba(0, 0,0, 0.50);
    width: 70%;
}

#buttonDestacado:hover {
    width: 100%;
}

#aButtonDestacado {
    font-family: Poppins-Regular;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

#buttonDisenio {
    background-color:#74D3C5;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    border: 0;
    align-self: center;
    box-shadow: 0 1em 2em rgba(0, 0,0, 0.50);
    width: 70%;
}

#buttonDisenio:hover {
    width: 80%;
}

#imgContacto {
    width: 100%;
}

#tituloContacto {
    font-family: Gorditas-Regular;
    color: #C6B5F8;
    font-size: 40px;
    text-align: left;
    margin: 0;
}

#enviar {
    background-color: #F677A3;
    color: #FFFFFF;
    width: 50%;
    margin: 2% 25%;
}

#enviar:hover {
    background-color: #74D3C5;
}

/* ID de mi proyecto fin */

/* clases de bootstrap  inicio */

.navbar {
    background-color: transparent;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #C6B5F8;
    font-family: Poppins-Regular;
    font-size: 1rem;
    margin: 0em 1rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #7E5D93;
    font-weight: bold;
}

.container-fluid {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.margin-row {
    margin-left: -15px;
}
/* clases de bootstrap  fin */

/* Clases del sitio inicio */

.imgsProyectosDG {
    width: 100%;
    transition: opacity 1s;
}

.imgsProyectosDG:hover {
    opacity: 0.5;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.margin-row {
    margin-left: -15px;
}



@keyframes logo-color {
    0% {background-color: #C6B5F8;}
    50% {background-color: #F677A3;}
    75% {background-color: #74D3C5 ;}
    100% {background-color: #C6B5F8;}
}

.recuadroTitulosQuienSoy{
    /* background-color: #F677A3; */
    background-image: linear-gradient(to right ,#74D3C5, #C6B5F8, #F677A3 );
    background-repeat: repeat;
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    animation-name: gradient;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes gradient {
    0% { background-position: 0 0 ;}
    50% { background-position: -80rem 0}
    100% { background-position: 0 0 ;}
    
}

.subtitulosQuienSoy {
    font-family: Poppins-Bold;
    color: #FFFFFF;
    margin: 0%;
}

.anioQuienSoy {
    font-family: Poppins-MediumItalic;
}



.logo1 {
    background-color: #C6B5F8;
    width: 100%;
    animation-name: logo-color;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes logo-color {
    0% {background-color: #C6B5F8;}
    50% {background-color: #F677A3;}
    75% {background-color: #74D3C5 ;}
    100% {background-color: #C6B5F8;}
}

.cont-logo {
    width: 100px;
    position: absolute;
    top: 0;
    right: 3%;
}

.link-pages {
    color: #FFFFFF;
}

.titulosQuienSoy {
    font-family: Gorditas-Regular;
    font-size: 40px;
    color: #C6B5F8;
    text-align: left;
}

.textosQuienSoy {
    font-family: Poppins-ExtraLight;
    font-size: 17px;
    margin: 2% 0 10%;
    text-align: left;
}

.footerPages {
    background-color: #E5E5E5;
}

.buttonFooter {
    background-color: #F677A3;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 20px;
    border: 0;
    margin-bottom: 2%;
}

.buttonFooter:hover {
    background-color: #74D3C5;
}

.aButtonFooter {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins-Regular;
}

.pregFooter {
    font-family: Poppins-Light;
    font-size: 1.5em;
}

.derechos {
    font-family: Poppins-Light;
    font-size: 12px;
    background-color: #706D6D ;
    color: #FFFFFF;
    text-align: center;
}

.contenedorDerechos {
    background-color: #706D6D;
}

.icon-pag {
    width: 50%;
}

.imgsProyectosDW {
    width: 100%;
}

.subtitulosDesarrolloDisenio {
    font-family: Gorditas-Regular;
    color: #C6B5F8;
    font-size: 26px;
    text-align: center;
}

.textosDesarrolloDisenio {
    font-family: Poppins-ExtraLight;
    text-align: center;
    
}

.buttonDesarrolloDisenio {
    background-color:#74D3C5;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    border: 0;
    align-self: center;
    box-shadow: 0 1em 2em rgba(0, 0,0, 0.50);
    width: 90%;
}

.buttonDesarrolloDisenio:hover {
    width: 100%;
}


.aButtonDesarrolloDisenio {
    text-decoration: none;
    text-align: center;
    font-family: Poppins-Regular;
    color: #FFFFFF;
}

.fondo-foot {
    background-color: #C6B5F8;
    height: 3%;
}

.icon-foot-img {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-pages {
    background-color: #C6B5F8;
    
}

.logo {
    background-color: #C6B5F8;
    width: 80%;
    animation-name: logo-color;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

.ilust-quien {
    width: 100%;
}

.bodyPages {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.textoProyectoDG {
    font-family: Poppins-ExtraLight;
    font-size: 16px;
    text-align: center;
    margin: 10px 0px;
}

.aclaracionesDG {
    font-family: Poppins-ExtraLight;
    font-size: 12px;
    text-align: center;
}

.buttonProyectosDisenio {
    background-color:#74D3C5;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    border: 0;
    align-self: center;
    box-shadow: 0 1em 2em rgba(0, 0,0, 0.50);
    width: 90%;
}

.buttonProyectosDisenio:hover {
    width: 100%;
}

/* Clases del sitio fin */

/* Estilos por etiquetas inicio */
label {
    font-family: Poppins-Medium;
    margin: 2% 0%;
}

input {
    font-family: Poppins-Light;
    border-radius: 25px;
    padding: 2%;
    color: darkgrey;
    border: 1px solid;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
}

form p {
    font-family: Poppins-Light;
    font-size: 18px;
}

textarea {
    font-family: Poppins-Light;
    color: #706D6D;
    border: 1px solid;
    border-radius: 20px;
    padding: 2%;
}

/* Estilos por etiquetas fin */

/* Inicio - Tipografias */

@font-face {
    font-family: Poppins-Black ;
    src: url(../Font/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../Font/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Gorditas-Regular;
    src: url(../Font/Gorditas-Regular.ttf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(../Font/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-MediumItalic;
    src: url(../Font/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../Font/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../Font/Poppins-Bold.ttf);
}

  /* Fin - Tipografias */

/* Media responsive  */

@media screen and (max-width: 767px) {
    #nombreIndex {
        font-size: 2.5em;
    }

    #descripcionIndex {
        font-size: 1em;
    }

    .titulosQuienSoy {
        font-size: 2.2em;
    }

    .buttonDesarrolloDisenio {
        width: 95%;
    }

    .aButtonDesarrolloDisenio {
        font-size: 0.8em;
    }

    .subtitulosQuienSoy {
        font-size: 0.8em;
    }

    #tituloDestacadoDG {
        margin: 1%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #nombreIndex {
        font-size: 4em;
    }

    #descripcionIndex {
        font-size: 2em;
    }

    #aButtonIndex {
        font-size: 1.8em;
    }

    #buttonIndex {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #nombreIndex {
        font-size: 4.6em;
    }
}